@import '~bootstrap/dist/css/bootstrap.min.css';
.App {
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.header .logo {
  margin: 0;
}

.header .nav ul {
  list-style: none;
  padding: 0;
}

.header .nav ul li {
  display: inline;
  margin-right: 20px;
}

.header .nav ul li:last-child {
  margin-right: 0;
}

.header .nav ul li a {
  color: #fff;
  text-decoration: none;
}

.main-content {
  padding: 50px 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
